* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto";
}
:root {
  --main-website-color: #ceb19c;
  --default-transition: 0.4s;
  --default-button-color: #f1345d;
  --default-button-hover-color: #b80c31;
  --paragraph-color: #494949;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.nav-section {
  height: 120px;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0;
}
nav {
  margin: 30px 0;
  width: 70%;
  display: flex;
  justify-content: space-around;
}
.navbar-elements {
  padding: 20px 20px;
  font-size: 14px;
  font-weight: bold;
  color: var(--main-website-color);
  transition: var(--default-transition);
}
.navbar-elements:hover {
  background-color: var(--main-website-color);
  color: black;
  left: 100%;
}
.navbar-image-element {
  padding: 0 10px;
}
.offscreen-menu,
.hamburger-menu {
  display: none;
}
.header-banner {
  width: 100%;
  height: 800px;
  background: url(Images/homepage_hero.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 57px;
}
.header-banner h1 {
  font-size: 100px;
  color: white;
  font-weight: 350;
  padding-bottom: 35px;
}
.header-banner button {
  padding: 10px 30px;
  background-color: var(--default-button-color);
  font-size: 20px;
  font-weight: 500;
  color: white;
  border: none;
  transition: var(--default-transition);
}
.header-banner button:hover {
  background-color: var(--default-button-hover-color);
}
.about-us {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-us-welcome-paragraph {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  text-align: center;
}
h6 {
  color: var(--main-website-color);
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
}
.about-us-welcome-paragraph h2 {
  font-size: 70px;
  color: var(--paragraph-color);
  font-weight: 300;
}
hr {
  background-color: var(--main-website-color);
  height: 1px;
  border: 0;
  width: 77px;
}
p {
  font-size: 18px;
  color: var(--paragraph-color);
  line-height: 30px;
  font-weight: 250;
}
.about-us-founder-section {
  width: 100%;

  background: url(Images/intro-bg2_02.jpg) no-repeat center center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  gap: 100px;
}
.about-us-founder-bio-section {
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  text-align: center;
}
.about-us-founder-bio-section h2 {
  font-size: 35px;
  color: var(--paragraph-color);
}
.about-us-founder-bio-section a {
  text-decoration: none;
}
.about-us-founder-bio-section span {
  color: darkcyan;
  transition: var(--default-transition);
  letter-spacing: 3px;
  font-weight: bold;
}
.about-us-founder-bio-section span:hover {
  color: darkblue;
}
.about-us-founder-picture {
  align-self: flex-end;
}
@media (max-width: 970px) {
  nav {
    width: 95%;
  }
  .navbar-image-element {
    padding-left: 30px;
  }
}
@media (max-width: 860px) {
  nav {
    width: 100%;
    justify-content: space-between;
  }
  .navbar-elements {
    display: none;
  }
  .offscreen-menu {
    display: block;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: 0.3s ease;
  }
  .about-us-welcome-paragraph {
    width: 80%;
  }
}
@media (max-width: 780px) {
  .about-us-welcome-paragraph {
    margin-bottom: 70px;
  }
}
@media (max-width: 550px) {
  .header-banner h1 {
    font-size: 80px;
  }
}
